<h1>Burger Feast!</h1>

<h2>Burgers on your plate</h2>

<ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers already devoured</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Design your own specialty burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Name of burger</label>
    <input type="text" id="ca" name="name">
  </div>


  <button type="submit">Create burger</button>
</form>
